h1{
    color: #38fdff;
    font-size: 60px;

}

h2{
    color: #09ff16;
}

p{
    font-size: 24px;
    color: #09ff16;
}

#yee{
    color: yellow;
}

.eecla{
    color: brown;
    font-size: 12px;

}