h1{
    color: #38fdff;
    font-size: 60px;

}

h2{
    color: #09ff16;
}

p{
    font-size: 60px;
    color: red;
    margin: 0 auto;
}

#yee{
    color: yellow;
}

.eecla{
    color: brown;
    font-size: 12px;

}